version: "3.9"


services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.10.2
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - xpack.security.enabled=false
      - http.cors.enabled=true
      - http.cors.allow-origin=http://localhost:3000
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data


  api:
    build: .
    depends_on:
      - elasticsearch
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./uploads:/app/uploads

volumes:
  esdata:
